header{
background-color: #D2691E;
font-size:22px;
font-family: 'Georgia',sans-serif;  
}
body {
background-color:#F4A460;
font-size:17px;
color:black;
font-family: 'Constantia',sans-serif;
margin:15;
padding:15;
}